<div class="user-details">
    <h1> {{site.user_expertise}} </h1>
    <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
        <h2>Management</h2>
<!--        <i class="devicon-html5-plain-wordmark"></i>-->
<!--        <i class="devicon-bootstrap-plain-wordmark colored"></i>-->
<!--        <i class="devicon-sass-original colored"></i>-->
        <p>From planning to elicitation, risks are analyzed, and change strategies defined, transitioning from the
            current state (as is) to the future state (to be)</p>
    </div>
    <div class="tech">
        <h2>Problem-Solver</h2>
<!--        <i class="devicon-javascript-plain colored"></i>-->
<!--        <i class="devicon-react-original-wordmark colored"></i>-->
<!--        <i class="devicon-nodejs-plain-wordmark"></i>-->
        <p>Complex business challenges are efficiently tackled from identification to solution design through critical
            thinking and BA Techniques</p>
    </div>
    <div class="tech">
        <h2>Systematization</h2>
<!--        <i class="devicon-git-plain"></i>-->
<!--        <i class="devicon-gulp-plain colored"></i>-->
<!--        <i class="devicon-atom-original-wordmark"></i>-->
        <p>With experience in developing web apps and systems, I prioritize writing well-structured and documented
            solutions using BA Approaches, UI Design & Prototyping, and Visual Modeling
        </p>
    </div>
</div>
