<div class="user-details">
    <h1>Involvement</h1>
</div>
<div class="user-projects">
    <div class="contents">
        <p>As an active member of the business analysts' community, I engage in discussions, attend training sessions,
            and participate in networking events. Through this involvement, I continuously gain new knowledge and
            actively share it with fellow community members. This collaboration helps me improve my skills, fill
            knowledge gaps, and see things from new perspectives.
            <br><br>
            In my free time, I enjoy engaging in activities that fuel my passion, such as playing guitar and harmonica,
            skating, and going on trips. These activities not only energize me but also provide me with the strength and
            inspiration to further my learning.
            <br><br>
            <a class="projectLink" href="https://www.linkedin.com/in/irinagankova">Let’s Connect!</a> Feel free to reach out via email or
            connect with me on LinkedIn. I’m always open to new
            opportunities and collaborations.
        </p>
    </div>
    <div class="images-right">
        <div class="swiper first-slider">
            <div class="swiper-wrapper first-slider-wrapper">
            </div>
        </div>
        <!--        <div class="first-slider-button-prev swiper-button-prev"></div>-->
        <!--        <div class="first-slider-button-next swiper-button-next"></div>-->
        <div class="swiper-pagination first-slider-pagination"></div>
    </div>
</div>
<!--<div class="user-projects">-->
<!--    <div class="images-left">-->
<!--        <div class="swiper second-slider">-->
<!--            <div class="swiper-wrapper second-slider-wrapper">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="second-slider-button-prev swiper-button-prev"></div>-->
<!--        <div class="second-slider-button-next swiper-button-next"></div>-->
<!--        <div class="swiper-pagination second-slider-pagination"></div>-->
<!--    </div>-->
<!--    <div class="contents-right">-->
<!--        <h3> Project Title </h3>-->
<!--        <ul>-->
<!--            <li> Featured Skills</li>-->
<!--        </ul>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex-->
<!--            ea commodo consequat.</p>-->
<!--        <a class="project-link" href="#">Check it out</a>-->
<!--    </div>-->
<!--</div>-->
