<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="images-right">
        <div class="swiper first-slider">
            <div class="swiper-wrapper first-slider-wrapper">
            </div>
        </div>
        <div class="first-slider-button-prev swiper-button-prev"></div>
        <div class="first-slider-button-next swiper-button-next"></div>
        <div class="swiper-pagination first-slider-pagination"></div>
    </div>
    <div class="contents">
        <h3> Project Title </h3>
        <ul>
            <li> Featured Skills</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        <a class="project-link" href="#">Check it out</a>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <div class="swiper second-slider">
            <div class="swiper-wrapper second-slider-wrapper">
            </div>
        </div>
        <div class="second-slider-button-prev swiper-button-prev"></div>
        <div class="second-slider-button-next swiper-button-next"></div>
        <div class="swiper-pagination second-slider-pagination"></div>
    </div>
    <div class="contents-right">
        <h3> Project Title </h3>
        <ul>
            <li> Featured Skills</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        <a class="project-link" href="#">Check it out</a>
    </div>
</div>
