:root {
  --swiper-theme-color: $sec !important;
}

.swiper {
  width: 100%;
  position: relative;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background: $main;

  img {
    max-width: 100%;
    height: auto;
    max-height: 240px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  @media only screen and (max-width: 960px) {
    display: none;
  }
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + 10px));
}

.swiper-button-prev {
  left: -35px; /* Отступ слева */
}

.swiper-button-next {
  right: -35px; /* Отступ справа */
}

.swiper-pagination {
  position: unset;
}

.swiper-pagination-bullet {
  opacity: 0.5;
  background: $sec;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: $main;
}
